.footer {

  align-items: center;
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  text-align: center;

  div {
    align-items: center;
    display: flex;
    gap: 1.25em;
  }

  img {
    display: block;
    height: 2em;
    width: auto;
  }

}
