.video {

  display: flex;
  flex-direction: column;
  position: relative;

  video {
    background: var(--color-dark-2);
    border-radius: 0.4em;
    box-shadow:
      0 0 0 1px rgba(var(--rgb-black), 0.02),
      0 0.2em 1.6em -0.8em rgba(var(--rgb-black), 0.2),
      0 0.4em 2.4em -1.0em rgba(var(--rgb-black), 0.3),
      0 0.4em 0.8em -1.2em rgba(var(--rgb-black), 0.4),
      0 0.8em 1.2em -1.6em rgba(var(--rgb-black), 0.5),
      0 1.2em 1.6em -2.0em rgba(var(--rgb-black), 0.6)
    ;
    display: block;
    overflow: hidden;
  }

  button {

    border-radius: 0.4em;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;

    &:before {
      background: linear-gradient(
        180deg,
        rgba(var(--rgb-black), 0.2) 0,
        rgba(var(--rgb-black), 0.6) 100%
      );
      border-radius: 0.4em;
      content: '';
      height: 100%;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity var(--transition);
      width: 100%;
    }

    &:after {
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      background: url('../images/play.svg') center center no-repeat rgba(var(--rgb-white), 0.8);
      background-size: 1.5em 1.5em;
      border-radius: 100%;
      box-shadow:
        0 0 0 1px rgba(var(--rgb-black), 0.1),
        0 0.2em 0.6em -0.3em rgba(var(--rgb-black), 0.5),
        0 0.4em 1.2em -0.6em rgba(var(--rgb-black), 0.6)
      ;
      content: '';
      display: inline-flex;
      height: 4em;
      position: relative;
      transition:
        background-color var(--transition),
        transform var(--transition)
      ;
      width: 4em;
      will-change: transform;
    }

  }

  &--playing button {
    display: none;
  }

  @media(hover: hover) {

    button:hover {

      &:before {
        opacity: 0.8;
      }

      &:after {
        background-color: var(--color-white);
        transform: scale(1.04);
      }

    }

  }

  @media(min-width: 64em) {
    margin-left: -3em;
    margin-right: -3em;
  }

}
