.button {

  align-items: center;
  background: var(--color-purple-1);
  border: none;
  border-radius: 0.4em;
  color: var(--color-dark-1);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 1ch;
  height: 3.1em;
  line-height: 1;
  padding-left: 1.2em;
  padding-right: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background var(--transition),
    color var(--transition)
  ;

  svg {

    height: 1.4em;
    overflow: visible;
    width: 1.4em;

    path {
      transition: fill var(--transition);
    }

  }

  @media(hover: hover) {

    &:hover {
      background: var(--color-white);
      color: var(--color-dark-1);
    }

  }

}
