.footer {

  align-items: center;
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-inline: auto;
  margin-top: 4em;
  text-align: center;
  width: min(100%, 64em);

  div {
    align-items: center;
    display: flex;
    gap: 1.25em;
  }

  img {
    display: block;
    height: 2em;
    width: auto;
  }

  @media(min-width: 64em) {
    margin-top: 8em;
  }

}
