.main {

  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 4em;
  margin-top: 4em;
  padding-left: 2em;
  padding-right: 2em;

  @media(min-width: 64em) {
    margin-bottom: 8em;
    margin-top: 8em;
    padding-left: 4em;
    padding-right: 4em;
  }

}
