article {
  font-size: var(--font-size-medium);
}

article h2,
article h3 {
  --spacing: 3.5em;
  color: var(--color-green);
  font-size: var(--font-size-medium);
}

article h2 + *,
article h3 + * {
  --spacing: 1.3em;
}

article ul {
  list-style: disc;
  padding-left: 1.4em;
}

article a {
  color: var(--color-blue);
}

article code {
  background: var(--color-dark-2);
  color: var(--color-purple-2);
  line-height: 1em;
  padding: 0.2em 0.4em 0.1em 0.4em;
}

article .highlight {
  background: var(--color-dark-2);
  display: block;
  line-height: var(--line-height);
}

article .highlight pre {
  overflow-x: auto;
  padding: 0.7em 1.2em 0.6em 1.2em;
  white-space: pre;
}

article .highlight pre code {
  background: none;
  border-radius: initial;
  line-height: inherit;
  padding: 0;
}

article > * + * {
  margin-top: var(--spacing, 1.4em);
}
