@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/CascadiaCode-SemiLight.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: italic;
  font-weight: 300;
  src: url(/assets/fonts/CascadiaCode-SemiLightItalic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/CascadiaCode-Regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/CascadiaCode-Italic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/CascadiaCode-SemiBold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: italic;
  font-weight: 600;
  src: url(/assets/fonts/CascadiaCode-SemiBoldItalic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/CascadiaCode-Bold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cascadia Code';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/CascadiaCode-BoldItalic.woff2) format('woff2');
}
