.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-block: 4em;
  padding-inline: 2em;
}



@media(min-width: 64em) {

  .main {
    margin-block: 8em;
    padding-inline: 4em;
  }

}
