main {

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4em;
  margin-bottom: 4em;
  margin-inline: auto;
  margin-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  width: min(100%, 64em);

  @media(min-width: 64em) {
    gap: 6em;
    margin-bottom: 6em;
    margin-top: 6em;
    padding-left: 4em;
    padding-right: 4em;
  }

}
